@model IEnumerable<AMS202024113120.Models.Asset>
@{
    ViewData["Title"] = "资产列表";
}
<!--margin-top:3-->
<div class="container mt-5 mb-5">
    <h3>资产列表</h3>
    <hr />

    @{
        if (Model != null)
        {
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <td>资产编号</td>
                        <td>资产名称</td>
                        <td>资产规格</td>
                        <td>价格</td>
                        <td>购入日期</td>
                        <td>存放位置</td>
                        <td>资产类别</td>
                        <td>资产图片</td>
                        <td>所属部门</td>
                        <td>资产保管人</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string imgName = $"{item.ImgName}";
                        <tr>
                            <td>
                                @item.AssetId
                            </td>
                            <td>
                                @item.AssetName
                            </td>
                            <td>@item.AssetSpec</td>
                            <td>@item.Price</td>
                            <td>@item.PurchaseDate</td>
                            <td>@item.Location</td>
                            <td>@item.Category.CategoryName</td>
                            <td>
                                <img src="~/images/@imgName" style="width:50px;height:35px;" />
                            </td>
                            <td>@item.Custodian.Department.DepartmentName</td>
                            <td>@item.CustodianId</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>